<h3>New customer</h3>

<div class="well">
  <form class="" action="/customer_new" method="post">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Enter customer's name">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Enter customer's email">
    </div>
    <button type="submit" name="button">New Customer</button>
  </form>
</div>
