<h1>Point of sale</h1>
<a href="/product_new">Add a new product</a>
<a href="/purchase_new">Make a purchase</a>
<a href="/reports">Check reports</a>
<a href="/customers">View all customers</a>
<a href="/customer_new">Add a new customer</a>


<% if @products.any? %>
<ul class="flex-container">
  <% @products.each do |product| %>
  <a class="flex-item "href="/product/<%=product.id %>"> <%=product.name %> </a>

  <%end %>
</ul>
<% else %>
  No products
<%end %>
