.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
}
.flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: papayawhip;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  color: blue;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  overflow: hidden;
}


a {
  display: block;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: none;
}
